# Sentiment Analysis

In [1]:
import pandas as pd
input_data = pd.read_csv("E:\\NLP data\\Dats sets\\User_Reviews\\User_Reviews\\User_movie_review.csv")

In [3]:
input_data.shape

(2000, 2)

In [4]:
input_data.columns

Index(['class', 'text'], dtype='object')

In [5]:
input_data.head(10)

  class                                               text
0   Pos      stuart little   is one of the best family ...
1   Neg   a movie like mortal kombat   annihilation wor...
2   Neg   and just when you thought joblo was getting a...
3   Pos   every now and then a movie comes along from a...
4   Neg   for about twenty minutes into mission impossi...
5   Neg   for better or worse   the appearance of basic...
6   Neg   i have a great idea for a movie   one that ca...
7   Pos   if he doesn=92t watch out   mel gibson is in ...
8   Pos   if there s one thing in common about all of h...
9   Neg   if you haven t plunked down your hard earned ...

In [6]:
input_data['class'].value_counts() #class frequency

Neg    1000
Pos    1000
Name: class, dtype: int64

In [7]:
#Creating Document Term Matrix without preprocessing
from sklearn.feature_extraction.text import CountVectorizer

countvec1 = CountVectorizer()
dtm_v1 = pd.DataFrame(countvec1.fit_transform(input_data['text']).toarray(), columns=countvec1.get_feature_names(), index=None)
dtm_v1['class'] = input_data['class']
dtm_v1.head()
#the output contains many non-meaningful terms

,00,000,0009f,007,00s,03,04,05,05425,10,...,zukovsky,zulu,zundel,zurg,zus,zweibel,zwick,zwigoff,zycie,zzzzzzz
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [8]:
import pandas as pd
import re
import nltk
from nltk.stem.porter import PorterStemmer
from nltk.corpus import stopwords
#####Writing a Custom Tokenizer
stemmer = PorterStemmer()
def tokenize(text):
    text = stemmer.stem(text)               #stemming
    text = re.sub(r'\W+|\d+|_', ' ', text)    #removing numbers and punctuations and Underscores
    tokens = nltk.word_tokenize(text)       #tokenizing
    return tokens

In [9]:
countvec = CountVectorizer(min_df= 5, tokenizer=tokenize, stop_words=stopwords.words('english'))
dtm = pd.DataFrame(countvec.fit_transform(input_data['text']).toarray(), columns=countvec.get_feature_names(), index=None)
#Adding label Column
dtm['class'] = input_data['class']
dtm.head()

,aaron,abandon,abandoned,abandons,abby,abduction,abel,abilities,ability,able,...,zoe,zombie,zombies,zone,zoo,zoom,zooms,zorro,zucker,zwick
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [10]:
###Building training and testing sets
df_train = dtm[:1900]
df_test = dtm[1900:]

In [11]:
from sklearn.naive_bayes import MultinomialNB
clf = MultinomialNB()
X_train= df_train.drop(['class'], axis=1)
#Fitting model to our data
clf.fit(X_train, df_train['class'])

MultinomialNB(alpha=1.0, class_prior=None, fit_prior=True)

In [12]:
X_test= df_test.drop(['class'], axis=1)
clf.score(X_test,df_test['class'])

0.8

In [13]:
pred_sentiment=clf.predict(df_test.drop('class', axis=1))
print(pred_sentiment)

['Pos' 'Pos' 'Pos' 'Neg' 'Neg' 'Neg' 'Neg' 'Neg' 'Neg' 'Neg' 'Neg' 'Pos'
 'Neg' 'Neg' 'Neg' 'Pos' 'Pos' 'Pos' 'Neg' 'Pos' 'Neg' 'Neg' 'Pos' 'Neg'
 'Pos' 'Pos' 'Neg' 'Pos' 'Neg' 'Neg' 'Neg' 'Pos' 'Neg' 'Pos' 'Pos' 'Pos'
 'Pos' 'Pos' 'Neg' 'Pos' 'Pos' 'Neg' 'Pos' 'Pos' 'Pos' 'Neg' 'Pos' 'Neg'
 'Neg' 'Pos' 'Pos' 'Neg' 'Pos' 'Neg' 'Neg' 'Neg' 'Pos' 'Neg' 'Pos' 'Pos'
 'Neg' 'Neg' 'Pos' 'Neg' 'Neg' 'Pos' 'Neg' 'Pos' 'Neg' 'Neg' 'Pos' 'Neg'
 'Neg' 'Pos' 'Pos' 'Neg' 'Neg' 'Neg' 'Neg' 'Neg' 'Neg' 'Pos' 'Pos' 'Pos'
 'Pos' 'Pos' 'Neg' 'Pos' 'Pos' 'Neg' 'Pos' 'Neg' 'Neg' 'Pos' 'Neg' 'Neg'
 'Neg' 'Pos' 'Pos' 'Pos']